env/
venv/
.idea/
.vagrant/
*.retry
keys/miclave.pub
data/Vagrantfile
data/deploy-container.yml
testenv/
testenv2/
midb.db
data/inventory.yaml
bbdd.py
web/web/__pycache__/
web/myApp/__pycache__/
web/myApp/migrations/__pycache__/
web/myApp/migrations/