<html>
    <body>

    <form action="/form/" method="POST">{% csrf_token %}
        <table>
            {{ form.as_table}}
        </table>
        <p><input type="submit" value="Add"></p>
        <p><input formaction="/form/test/"  type="submit" value="Test"></p>
        <p><input formaction="/form/setup/"  type="submit" value="Setup"></p>
    </form>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    <h2><strong> Mis maquinas</strong></h2>
    <p>
        <ul>
        {% if lista%}
            {% for machine in lista%}
                <li>{{machine}}</li>
            {% endfor %}

        {% else %}
            <p>No tienes ninguna maquina guardada</p>
        {% endif %}
        </ul>
    </p>
    </body>
</html>