<html xmlns="http://www.w3.org/1999/html">
    <body>

    {% include "nav.html" %}

    <table style="width:100%">
    <tr style="width:100%; padding-top:0px;"">
        <th style="width:50%; padding-top:0px;">
    <form action="/form/" method="POST">{% csrf_token %}
        <table>
            {{ form.as_table}}
        </table>
        <p><input type="submit" value="Add"></p>
        <p><input formaction="/form/test/"  type="submit" value="Test"></p>
        <p><input formaction="/form/setup/"  type="submit" value="Setup"></p>
    </form>
    {% if msg %}
        <p>{{ msg }}</p>
    {% endif %}
    </th>

    <th style="width:50%">
    <form action="/form/" method="POST">{% csrf_token %}
        <table>
            {{ key_form.as_table}}
        </table>
        <p><input type="submit" value="Save"></p>
    </form>
    <form action="/form/" method="POST">{% csrf_token %}
        <table>
            {{ view_key_form.as_table}}
        </table>
        <p><input type="submit" value="View"></p>
    </form>
    <textarea style="height:300px; width:70%; position:static ;"> {{ key }}</textarea>
        </th>
    </tr></table>

     <h2><strong> Mis maquinas</strong></h2>

    {% include "machines_list.html" %}

    </body>
</html>