    {% extends "index.html" %}


{% block content %}

        <title>{% for g in groups %}
                {{ g.name }}
            {% endfor %}</title>
     <h1><strong>
        Group: {% for g in groups %}
                {{ g.name }}
            {% endfor %}
    </strong></h1>

       <form method="POST" action="/group/run/" enctype="multipart/form-data">{% csrf_token %}
        {% include "machines_list2.html" %}

    {% if p_form %}
            <div class="row-md-auto">
<div class="col-md-auto">
          <div class="card bg-white">
            <div class="card-header bg-transparent">

                            <select id="mySelect" name="option"  onchange="show()">
                {% for o in p_form.option %}
                                {{ o }}
                 {% endfor %}
                            </select>

                <p id="demo" hidden="True">{{ p_form.file }}</p>
                             {% for g in groups %}
                    <input type="text" name="name"  value="{{ g.name }}" hidden="True">
                {% endfor %}

  <div class="input-group-append">
    <input class="btn btn-primary" type="submit" value="Run" id="button-addon2">
  </div>


</div>
    </div>
    </div>
</div>

        </form>
    {% endif %}
    {% include "running.html" %}

    <script>
function show() {
  var x = document.getElementById("mySelect").value;
  if (x === "compose"){
  document.getElementById("demo").hidden = false;}
}
</script>

    {% endblock %}