    {% extends "index.html" %}


{% block content %}

        <title>{% for g in groups %}
                {{ g.name }}
            {% endfor %}</title>
     <h1><strong>
        Group: {% for g in groups %}
                {{ g.name }}
            {% endfor %}
    </strong></h1>
    <h3>Group machines</h3>

       <form method="GET" action="/group/run/">
        {% include "machines_list2.html" %}

    {% if p_form %}
            <div class="row-md-auto">
<div class="col-md-auto">
          <div class="card bg-white">
            <div class="card-header bg-transparent">

    {{ p_form.option.label }}{{ p_form.option }}
                            {% for g in groups %}
                    <input type="text" name="name"  value="{{ g.name }}" hidden="True">
                {% endfor %}

  <div class="input-group-append">
    <input class="btn btn-primary" type="submit" value="Run" id="button-addon2">
  </div>


</div>
    </div>
    </div>
</div>

        </form>
    {% endif %}
    {% include "running.html" %}
    {% endblock %}