<html>
    <title>{% for g in groups %}
                {{ g.name }}
            {% endfor %}
    </title>
    <body>
    {% include "nav.html" %}
     <h1><strong>
        Group: {% for g in groups %}
                {{ g.name }}
            {% endfor %}
    </strong></h1>
    <h3>Group machines</h3>
    <form method="GET" action="/test/">
        {% include "machines_list2.html" %}

    {% if p_form %}
            <p>{{ p_form.as_p }}</p>
            {% for g in groups %}
                    <input type="text" name="name"  value="{{ g.name }}" hidden="True">
                {% endfor %}
            <input type="submit" formaction="/group/run/" value="Run"/>
        </form>
    {% endif %}
    {% include "running.html" %}
    </body>
</html>