<html>
    <title>{% for g in groups %}
                {% for m in g.machines %}
                    {{ m.name }}
                {% endfor %}
            {% endfor %}
    </title>
    <body>
    {% include "nav.html" %}
     <h1><strong>
        Machine: {% for g in groups %}
                {% for m in g.machines %}
                    {{ m.name }}
                {% endfor %}
            {% endfor %}
    </strong></h1>
    {% include "machines_list.html" %}


    {% if edit_form %}
        <form action="/machine/edit/"> <ul>{{ edit_form.as_ul }}</ul>
            <input type="submit" value="Add"></form>

    {% endif %}
    </body>
</html>