<html>
    <title>{% for g in groups %}
                {% for m in g.machines %}
                    {{ m.name }}
                {% endfor %}
            {% endfor %}
    </title>
    <body>
    {% include "nav.html" %}
     <h1><strong>
        Machine: {% for g in groups %}
                {% for m in g.machines %}
                    {{ m.name }}
                {% endfor %}
            {% endfor %}
    </strong></h1>
    {% include "machines_list.html" %}


    {% if edit_form %}
        <form action="/machine/edit/" method="GET">
            <ul>{{ edit_form.as_ul }}</ul>
            {% for g in groups %}
                {% for m in g.machines %}
                    <input type="text" name="name"  value="{{ m.name }}" hidden="True">
                {% endfor %}
            {% endfor %}
            <input type="submit" value="Edit"/>
            <input type="submit" formaction="/machine/test/" value="Test"/>
            <input type="submit" formaction="/machine/delete/" value="Delete"/></form>

    {% endif %}
    </body>
</html>