{% if runs %}
    <h3>My runs</h3>
    {% for run in runs %}
        <p>-------------------------------------------------------------------------------</p>
         <table style="width:50%">
                <tr>
                    <th><strong>Play</strong></th>
                    <th><strong>Status</strong></th>
                </tr>
                <tr>
                    <th>{{ run.playbook }}</th>
                    <th>{{ run.status }}</th>
                </tr>
         </table><p>

</p>
        <table style="width:50%">
            <tr>
                <th><strong>Machine</strong></th>
                <th><strong>Event</strong></th>
            </tr>
            {% if run.machines %}
            {% for m in run.machines.all %}
            <tr>
                <th>{{ m.name }}</th>
                <th>{{ m.event }}</th>
            </tr>
            {% endfor %}
            {% endif %}
        </table><p>

</p>
        <textarea style="height:300px; width:70%; position:static ;">{{ run.stdout}}</textarea>
<form action="/group/delete_run/">
    <input type="text" name="name"  value="{{ run.group_id }}" hidden="True">
    <input type="text" name="delete"  value="{{ run.ident }}" hidden="True">
    <input type="submit" value="Delete"></form>
    {% endfor %}
{% endif %}

